Carontinho/.vs/Carontinho/v16/.suo
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.deps.json
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.dll.config
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.exe
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.pdb
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.runtimeconfig.dev.json
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Carontinho.runtimeconfig.json
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventLog.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Win32.Registry.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Text.Json.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/System.Drawing.Common.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Diagnostics.EventLog.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Diagnostics.EventLog.Messages.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Drawing.Common.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Windows.Extensions.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.AccessControl.dll
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Carontinho/Carontinho/Interface/IReader.cs
Carontinho/Carontinho/obj/Carontinho.csproj.nuget.dgspec.json
Carontinho/Carontinho/obj/Carontinho.csproj.nuget.g.props
Carontinho/Carontinho/obj/Carontinho.csproj.nuget.g.targets
Carontinho/Carontinho/obj/project.assets.json
Carontinho/Carontinho/obj/project.nuget.cache
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/apphost.exe
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.AssemblyInfo.cs
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.AssemblyInfoInputs.cache
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.assets.cache
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.csproj.CopyComplete
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.csproj.CoreCompileInputs.cache
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.csproj.FileListAbsolute.txt
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.csprojAssemblyReference.cache
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.dll
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.genruntimeconfig.cache
Carontinho/Carontinho/obj/Debug/netcoreapp3.1/Carontinho.pdb
Carontinho/Carontinho/bin/Debug/netcoreapp3.1/CsvHelper.dll
